:host {
    margin-top: 20px;
    display: block;
    margin-right: 20px;
    margin-left: 20px;
}
.search-btn {
    width: 180px;
    height: 40px;
    border-width: 0px;
    margin-bottom: 10px;
}
.add-btn {
   width: 180px;
   height: 40px;
   border-width: 0px;
   margin-bottom: 10px; 
}
.all-theses-btn {
    width: 180px;
    height: 40px;
    border-width: 0px;
    margin-bottom: 10px; 
}